
::selection {
  background: $selection-bg;
  color: $selection-color;
}

body {
  position: relative; // Required by scrollspy
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background: $body-bg-color;

  @include mobile() { padding-right: 0 !important; }
  @include tablet() { padding-right: 0 !important; }
  @include desktop-large() { font-size: $font-size-large; }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  font-family: $font-family-headings;
}

h2, h3, h4, h5, h6 { margin: 20px 0 15px; }

@for $headline from 1 through 6 {
  h#{$headline} {
    font-size: $font-size-headings-base - $font-size-headings-step * $headline;
  }

  @include mobile() {
    h#{$headline} {
      font-size: $font-size-headings-base - $font-size-headings-step * $headline - 4px;
    }
  }
}

p { margin: 0 0 10px 0; }

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $grey-dark;
  word-wrap: break-word;

  &:hover {
    color: $link-hover-color;
    border-bottom-color: $link-decoration-hover-color;
  }
}

blockquote {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

blockquote {
  padding: 0 15px;
  color: $grey-dim;
  border-left: 4px solid $gray-lighter;

  cite::before {
    content: "-";
    padding: 0 5px;
  }
}

dt { font-weight: $font-weight-bolder; }

dd {
  margin: 0;
  padding: 0;
}


// custom

h1 {
  margin: 40px 0 0 0;
  color: #fc6423;
}

h2, h3, h4, h5 {
  color: $black-light;
}

.post-body {
  h1 { counter-increment: first; counter-reset: second; }
  h1::before { content: counter(first)". "; }
  h2 { counter-increment: second; counter-reset: third; }
  h2::before { content: counter(first)"-"counter(second)". "; }
  h3 { counter-increment: third; counter-reset: fourth; }
  h3::before { content: counter(first)"-"counter(second)"-"counter(third)". "; }
  h4 { counter-increment: fourth; counter-reset: fifth; }
  h4::before { content: counter(first)"-"counter(second)"-"counter(third)"-"counter(fourth)". "; }
}

hr {
  margin: 10px 0px 20px 0px;
  height: 1px;
  border: none;
  background-color: $grey-dark;
}

strong {
  color: #f8743c;
}

blockquote > p {
  margin: 0;
}

ul {
  padding: 0px 0px 0px 25px;
}

.highlighter-rouge {
  font-size: 14px;
}